.weather {
  position: relative;
  max-height: 80px;
}

.weather__info {
  font-family: "Cabinet Grotesk-Medium";
  position: absolute;
  top: 25px;
  left: 25px;
  color: #fff;
  font-size: 36px;
}

.weather__mural {
  width: 100%;
}

.card_section {
  font-family: "Cabinet Grotesk-Bold";
  margin-top: 40px;
}

.card_name {
  background-color: #fff;
  border-radius: 5px;
  text-align: center;
  font-family: "Cabinet Grotesk-Medium";
  color: #000;
}

.card_image {
  width: 328px;
  height: 328px;
  border-radius: 10px;
}

.card_items {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  margin-top: 34px;
  margin-bottom: 171px;
}
