.header {
  font-family: "Cabinet Grotesk-Bold";
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  padding: 0 20px;
}

.header__name {
  text-decoration: none;
  color: #000;
}

.header__logo {
  display: flex;
  gap: 20px;
  align-items: center;
}

.header__avatar-logo {
  display: flex;
  gap: 20px;
  align-items: center;
  cursor: pointer;
}

.header__button {
  border: none;
  background: none;
  cursor: pointer;
}

.header__login {
  cursor: pointer;
}

.header__signup {
  cursor: pointer;
}
