.modal__content-item {
  position: relative;
  display: flex;
  border-radius: 20px;
  max-width: 496px;
  flex-direction: column;
}

.modal__description {
  font-family: "Cabinet Grotesk-Bold";
  font-size: 20px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 20px;
  background-color: white;
  max-width: 434px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.modal__content-name {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 12px;
}

.modal__content-delete {
  margin: 0;
  color: #ff4d00;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.modal__content-delete_hidden {
  display: none;
}

.modal__content-delete:hover {
  margin: 0;
  color: #ff4d00;
  opacity: 0.6;
  transition: 0.3s ease-in-out;
  border: none;
  background-color: #fff;
}

.modal__content-type {
  padding-bottom: 32px;
}

.modal__content-image {
  max-width: 434px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.modal__close-delete {
  color: #ff4d00;
}

.modal__close-item {
  position: absolute;
  left: 450px;
  top: 25px;
  border: none;
  background: none;
  background-image: url(../../images/whiteclose.svg);
  cursor: pointer;
  height: 20px;
  width: 20px;
}
